@{
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="Recuento">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(201,203,226)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Recuento del sistema
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-table-list"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="CreateUsers">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(242,223,165)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Crear usuarios
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="CreateWallet">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(223,242,213)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Crear cartera
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-wallet"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="ManageUsers">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(250,217,200)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Manejar usuarios
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-address-book"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="ManageWallets">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(128,171,221)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Manejar cartera
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-cash-register"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
