@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Supervisor" asp-action="AsignarBase">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(201,203,226)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Asignar base
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-dollar"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Close" asp-action="Index">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(242,223,165)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Cierre diario
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Client" asp-action="Index">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(223,242,213)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Edicion cliente
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-edit"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Tracker" asp-action="Index">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(250,217,200)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Rastreo agente
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-search"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Supervisor" asp-action="RevisionCartera">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(128,171,221)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Revision cartera
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Statistics" asp-action="Index">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(168,230,207)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Estadistica
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-line-chart"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Cash" asp-action="Index">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(255,139,148)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Caja
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-bars"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="SupervisorBills" asp-action="Create">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(186,225,255)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Gastos
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-cart-plus"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
